.contentPage {
  margin: 4vh;
}

.contentView {
  font-size: 16px;
  width: 960px;
}

.contentView p,
.contentView h2,
.contentView h3,
.contentView h4 {
  padding: 0;
  margin: 2vh 0;
}

.contentView code {
  color: var(--hover);
}

pre {
  padding: 2vh;
  margin: 2vh;
  border-radius: 2vh;
  background-color: rgba(0, 0, 0, 0.473) !important;
  text-wrap: pretty !important;
  /* white-space: unset !important; */
  border: none !important;
  box-shadow: none !important;
}

code.language-bash {
  white-space: unset !important;
}

.upNext {
  width: 100%;
  height: 10vh;
  padding: 2vh;
  margin: 2vh;
  box-sizing: border-box;
  border-radius: 2vh;
  background-color: rgba(0, 0, 0, 0.473);
}