.forums {
  height: 100%;
  width: 100%; 
  padding: 2vh;
  justify-content: start;
}

.boards,
.posts {
  height: 100%;
  width: 60%;
}

.posts {
  justify-content: flex-start;
}

.boardSpacer {
  height: 120px;
  width: 100%;
  flex: none;
}

.board,
.post {
  background-color: rgba(0, 0, 0, 0.295);
  margin: 1vh;
  padding: 2vh;
  justify-content: space-between;
  min-height: 90px;
  width: 100%;
  font-size: 2vh;
  border-radius: 2vh 2vh 0 0;
  border: 4px;
  border-style: none none double none;
  z-index: 1;
}

.boardInfo,
.postInfo {
  align-items: start;
}

.postInfo {
  width: 160px;
  flex: none;
  border-right: 1px solid;
}

.postText {
  width: 100%;
  height: 100%;
  padding: 0 2vh;
  align-items: start;
  justify-content: start;
}

.boardHeader {
  width: 100%;
  justify-content: space-between;
  z-index: 1;
}

.frameLeft {
  position: absolute;
  left: -25%;
  top: 5%;
}

.frameRight {
  position: absolute;
  transform: rotate(180deg);
  right: -25%;
  bottom: 5%;
}

@media (max-width: 1024px) {

}