.forums {
  height: 100%;
  width: 100%; 
  padding: 2vh;
  justify-content: start;
}

.boards,
.posts {
  height: 100%;
  width: 60%;
}

.posts {
  justify-content: flex-start;
}

.boardSpacer {
  height: 120px;
  width: 100%;
  flex: none;
}

.board,
.post,
.reply {
  background-color: rgba(0, 0, 0, 0.295);
  margin: 1vh;
  padding: 2vh;
  justify-content: space-between;
  min-height: 90px;
  width: 100%;
  font-size: 2vh;
  border-radius: 2vh 2vh 0 0;
  border: 4px;
  border-style: none none double none;
  z-index: 1;
  flex: none;
}

.reply {
  border-radius: 1vh;
  border: none;
}

.boardInfo,
.postInfo,
.replyInfo {
  align-items: start;
}

.postInfo,
.replyInfo {
  width: 160px;
  height: 100%;
  flex: none;
  border-right: 1px solid;
  justify-content: start;
}

.postCard .postInfo {
  width: unset;
  border-right: unset;
}

.postInteract {
  position: absolute;
  top: 4px;
  right: -5vh;
  font-size: 1.8vh;
  align-items: start;
}

.postInteract *:hover {
  cursor: pointer;
  color: var(--hover);
}

.postText,
.replyText {
  width: 100%;
  height: 100%;
  padding: 0 2vh;
  align-items: start;
  justify-content: start;
  white-space: pre-wrap;
}

.replyContainer {
  width: 100%;
  align-items: end;
  margin: 1vh;
}

.replyInput {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  border-radius: 6px;
  height: 120px;
  max-height: 180px;
  min-height: 60px;
  border: none;
  padding: 2vh;
  box-sizing: border-box;
}

.replySend {
  margin: 1vh 0;
}

.replySend:hover {
  cursor: pointer;
  color: var(--hover);
}

.boardHeader {
  width: 100%;
  justify-content: space-between;
  z-index: 1;
}

.frameLeft {
  position: absolute;
  left: -25%;
  top: 5%;
}

.frameRight {
  position: absolute;
  transform: rotate(180deg);
  right: -25%;
  bottom: 5%;
}

@media (max-width: 1024px) {

}