header {
  height: 95svh;
  padding: 4vh;
  width: 100%;
  flex: none;
  text-align: center;
}

.headTitle {
  top: 35%;
  left: 25%;
}

.headTagline {
  top: 45%;
  left: 35%;
}

.headExtra {
  font-size: 1.8vh;
  top: 95%;
  left: 55%;
}

.treeImage {
  position: absolute;
  left: 5vw;
  max-height: 80%;
}

@media (max-width: 1024px) {
  .headExtra {
    left: unset;
  }
}