header {
  height: 100svh;
  padding: 4vh;
  width: 100%;
  flex: none;
  text-align: center;
}

.landingTitle {
  top: 35%;
  left: 25%;
}

.landingTagline {
  top: 45%;
  left: 35%;
}

.landingExtra {
  font-size: 1.8vh;
  top: 95%;
  left: 55%;
}

.enterButton {
  top: 55%;
  background-color: var(--grass);
  color: var(--bg);
  padding: 1vh 2vh;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}

.treeImage {
  position: absolute;
  left: 5vw;
  max-height: 80%;
}

@media (max-width: 1024px) {
  .headExtra {
    left: unset;
  }
}