

section {
  width: 100%;
}

.sectionHead {
  position: relative;
  height: 24px;
  width: 100%;
  opacity: 0;
  transition: opacity 0.25s;
}

.sectionHead:hover {
  opacity: 1;
}

.minIcon {
  position: absolute;
  top: 4px;
  right: 12px;
  cursor: pointer;
}

section h2 {
  padding: 2vh 0 4vh;
  text-align: center;
}

.content {
  padding: 2vh;
  height: 0svh;
  width: 100%;
  overflow: hidden;
  transition: padding 0.5s, height 0.5s ease, opacity 0.25s, visibility 0.25s;
}

.content.open {
  padding: 12vh 16vh;
  height: 80svh;
}

.content div.v {
  width: 100%;
  padding: 0 0 4vh;
}


section:nth-of-type(3n - 2) {
  background-color: var(--grass);
  color: var(--bg);
}

section:nth-of-type(3n){
  background: #2a2a2a;
  width: 90%;
  border-radius: 2vh;
  color: var(--grass);
  margin-bottom: calc(4vh + 24px);
  transition: margin-bottom 0.5s;
}

section:nth-of-type(3n):has(.content.open) {
  margin-bottom: 10vh;
}

.futureImage,
.instructorImage {
  flex: none;
  width: 40%;
}

.priceCard {
  background-color: rgba(0, 0, 0, 0.295);
  margin: 2vh;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  height: 40svh;
  width: 300px;
  font-size: 2vh;
  border-radius: 2vh 2vh 0 0;
  border: 4px;
  border-style: none none double none;
}

.howitworksInfo {
  width: 80%;
}

.applyInfo {
  text-align: center;
}

.frameLeft {
  position: absolute;
  left: -10%;
  top: 0;
  height: 80%;
}

.frameRight {
  position: absolute;
  right: -10%;
  bottom: -10%;
  height: 80%;
  transform: rotate(180deg);
}

.contactCard {
  width: 40%;
  background: var(--bg);
  border-radius: 2vh;
  padding: 2vh;
  text-align: center;
}

form {
  padding: 2vh;
}

.formError {
  height: 16px;
}

.sendButton {
  font-weight: 600;
  align-self: flex-end;
  cursor: pointer;
}

input, textarea {
  outline: none;
  border: none;
  background: var(--grass);
  margin: 8px;
  padding: 1vh;
  border-radius: 6px;
  width: 80%;
  font-family: Jost;
}

textarea {
  min-height: 120px;
  max-height: 240px;
  min-width: 80%;
  max-width: 80%;
}

@media (max-width: 1024px) {
  .content.open {
    padding: 4vh;
    height: unset;
  }

  .treeImage,
  .frameLeft {
    display: none;
  }

  .howitworksInfo {
    width: 100%;
  }

  .howitworksImage {
    width: 100%;
  }

  .instructorCard {
    flex-direction: column;
  }

  .instructorImage {
    width: 80%;
  }

  .priceSection {
    text-align: center;
  }

  .priceInfo {
    flex-direction: column;
  }

  .priceCard {
    height: unset;
    text-align: left;
    margin: 2vh;
  }

  .contactCard {
    width: 90%;
  }
}