

section {
  width: 100%;
}

.sectionHead {
  position: relative;
  height: 24px;
  width: 100%;
  opacity: 0;
  transition: opacity 0.25s;
}

.sectionHead:hover {
  opacity: 1;
}

.minIcon {
  position: absolute;
  top: 4px;
  right: 12px;
  cursor: pointer;
}

section h2 {
  padding: 2vh 0 6vh;
  text-align: center;
}

.content {
  padding: 2vh;
  height: 0svh;
  width: 100%;
  overflow: hidden;
  transition: padding 0.5s, height 0.5s ease, opacity 2s;
}

.content.open {
  padding: 12vh 16vh;
  height: 80svh;
}

.content div.v {
  width: 100%;
  padding: 0 0 4vh;
}


section:nth-of-type(1){
  background-color: var(--grass);
  color: var(--bg);
}

section:nth-of-type(3){
  background: #2a2a2a;
  width: 90%;
  border-radius: 2vh;
  color: var(--grass);
  margin-bottom: calc(4vh + 24px);
  transition: margin-bottom 0.5s;
}

section:nth-of-type(3):has(.content.open) {
  margin-bottom: 10vh;
}

section:nth-of-type(4){
  background-color: var(--grass);
  color: var(--bg);
}

section:nth-of-type(6){
  background-color: var(--grass);
  color: var(--bg);
}

.futureImage,
.instructorImage {
  flex: none;
  width: 40%;
}

@media (max-width: 1024px) {
  .content {
    padding: 12vh 4vh;
    height: unset;
    max-height: 0svh;
    min-height: 0svh;
    transition: min-height 0.5s ease, max-height 0.5s ease, opacity 2s;
  }

  .content.open {
    height: unset;
    min-height: 80svh;
    max-height: 150svh;
  }

  ul {
    padding: 2vh;
  }
}