:root {
  --brown: #86716a;
  --gold: #ffbc90;
  --salmon: #ff9d90;
  --darkSalmon: #a0483c;
  --leaf: #d1e275;
  --sky: #41aadd;
  --coffee: #44231b;

  --bg: #2a2a2a;
  --grass: #aedd88;
  --cream: #ffefe5;
  --sage: #9cbb86;
  --moss: #7e8d70;
  --tint: #D8E3D5;

  --lightText: #ffe8d9;
  --trCream: rgba(255, 232, 217, 0.747);
  --darkText: #3d1a15;

  --shadow: #39161096;
}

html {
  background: radial-gradient(circle at right, #a1eb8e59, transparent 90%);
  background-color: var(--bg);
}

html, body, #root {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: Jost;
  font-size: 2.4vh;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
  color: var(--grass);
}

h1, h2, h3 {
  margin: 0;
}

.v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.h {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

/* --- */

.alert {
  z-index: 11;
  position: absolute;
  bottom: 10vh;
  min-width: 200px;
  width: max-content;
  padding: 1vh;
  border-radius: 25px;
  border: 2px solid var(--darkText);
  box-shadow: 0 2px 3px var(--shadow);
  background-color: var(--cream);
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.1s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.woodgrain {
  pointer-events: none;
  user-select: none;
  position: absolute;
}

.woodgrain path {
  fill: #d1949452;
}

.texture {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%232a2a2a' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* */

header {
  height: 95svh;
  padding: 4vh;
  width: 100%;
  flex: none;
  text-align: center;
}

section {
  width: 100%;
}

section h2 {
  padding: 2vh 0 6vh;
  text-align: center;
}

.content {
  padding: 4vh 8vh;
  height: 0svh;
  width: 100%;
  overflow: hidden;
  transition: height 0.5s ease, opacity 2s;
}

.content.open {
  height: 80svh;
}

@media (max-width: 1024px) {
  .content {
    padding: 8vh 4vh;
    height: unset;
    max-height: 0svh;
    min-height: 0svh;
    transition: min-height 0.5s ease, max-height 0.5s ease, opacity 2s;
  }

  .content.open {
    height: unset;
    min-height: 80svh;
    max-height: 150svh;
  }

  ul {
    padding: 2vh;
  }
}

.content div.v {
  width: 100%;
  padding: 0 0 4vh;
}

.foot {
  width: 100%;
  height: 10svh;
  flex: none;
  background-color: var(--grass);
}

/* SCROLLBAR */

::-webkit-scrollbar {
  background-color: var(--bg);
  border-style: none;
  width: 0.4vw;
  min-width: 6px;

  height: 98%;
}

::-webkit-scrollbar-thumb {
  background-color: var(--grass);
}

/**/

.applyButton {
  background-color: var(--grass);
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 2.4vh;
  font-weight: 600;
  margin: 2vh;
  cursor: pointer;
  border-radius: 4px;
  color: var(--bg);
  transition: font-size 0.1s;
  height: 6vh;
  width: unset;
  aspect-ratio: 4;
  box-sizing: border-box;
}

.applyButton:hover {
  font-size: 2.8vh;
}

section:nth-of-type(1){
  background-color: var(--grass);
  color: var(--bg);
}

section:nth-of-type(3){
  background-color: var(--grass);
  color: var(--bg);
}

section:nth-of-type(5){
  background-color: var(--grass);
  color: var(--bg);
}