:root {
  --brown: #86716a;
  --gold: #ffbc90;
  --salmon: #ff9d90;
  --darkSalmon: #a0483c;
  --leaf: #d1e275;
  --sky: #41aadd;
  --coffee: #44231b;

  --bg: #2a2a2a;
  --grass: #aedd88;
  --cream: #ffefe5;
  --sage: #9cbb86;
  --moss: #7e8d70;
  --tint: #D8E3D5;

  --lightText: #ffe8d9;
  --trCream: rgba(255, 232, 217, 0.747);
  --darkText: #3d1a15;

  --shadow: #39161096;

  --hover: #eeed9f;
}

html {
  background: radial-gradient(circle at right, #a1eb8e59, transparent 90%);
  background-color: var(--bg);
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: Jost;
  font-size: 2.4vh;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--grass);
  overflow: auto;
}

h1, h2, h3 {
  margin: 0;
}

a,
a:hover,
a:visited {
  color: unset;
  text-decoration: none;
}

a:hover {
  color: var(--hover);
}

p {
  padding: 2vh;
  margin: 0;
}

.v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.h {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.anchor {
  position: relative;
}

.float {
  position: absolute;
}

/* --- */

.alert {
  z-index: 11;
  position: absolute;
  bottom: 10vh;
  min-width: 200px;
  width: max-content;
  padding: 1vh;
  border-radius: 25px;
  border: 2px solid var(--darkText);
  box-shadow: 0 2px 3px var(--shadow);
  background-color: var(--cream);
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.1s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.woodgrain path {
  fill: #d1949452;
}

.texture {
  position: fixed;
  width: 100svw;
  height: 100svh;
  z-index: -10;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%232a2a2a' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* */

.header {
  width: 100%;
  height: 48px;
  justify-content: space-between;
  padding: 1vh;
}

.foot {
  width: 100%;
  height: calc(10svh - 12px);
  flex: none;
  background-color: var(--grass);
}

input, textarea {
  outline: none;
  border: none;
  background: var(--grass);
  font-family: Jost;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  background-color: var(--bg);
  border-style: none;
  width: 6px;

  height: 98%;
}

::-webkit-scrollbar-thumb {
  background-color: var(--grass);
}

/**/

.auth,
.createPost {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.479);
}

.createPostButton:hover,
.backButton:hover,
#loginButton:hover,
.sendButton:hover {
  color: var(--hover);
  cursor: pointer;
}

#loginForm,
#createForm {
  background-color: var(--bg);
  padding: 2vh;
  border-radius: 2vh;
  box-shadow: 0 0 48px 8px black;
  font-size: 18px;
}

.formInput,
.formSubmit,
.createInput {
  width: 240px;
  height: 36px;
  box-sizing: border-box;
  margin: 1vh;
  padding: 1vh;
  border-radius: 6px;
}

.createTitle {
  width: 720px;
  border-radius: 6px;
  height: 36px;
  margin: 1vh;
  padding: 1vh;
  box-sizing: border-box;
}

.createInput {
  width: 720px;
  max-width: 720px;
  min-width: 720px;
  height: 240px;
  max-height: 240px;
  min-height: 120px;
}

.formHead,
.formSubmit,
.signUpText {
  margin-bottom: 2vh;
}

.signUpText,
.formSubmit {
  cursor: pointer;
}

.createButtons {
  width: 100%;
  justify-content: space-between;
  padding: 1vh;
}

.menuButton:hover {
  cursor: pointer;
  color: var(--hover);
}

.menu {
  position: fixed;
  top: 48px;
  right: 2vh;
  font-size: 2vh;
  align-items: end;
  border-top: 1px solid;
  padding: 1vh 0;
}